<html>
    <head>
        <title>File upload</title>
    </head>
    <body>
        <h1>File Upload</h1>
        <%= !filename ? msg : '' %>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="imageUpload"><br>
            <button type="submit">Submit</button>
        </form>
        <br>
        <% if (filename) { %>
            <img src="<%= filename %>" width="500" height="500">
        <% } %>
    </body>
</html>